a {
    text-decoration: none;
}

.sort-btn:hover {
    color: aqua;
}
.selected-category-box {
    background-color: red;
}

.category-container {
    background-color: #ffffff;
    border-radius:10px;
    padding: 10px 5px 10px 10px;

}

.right-container {

}

.category_box {
    margin:5px;
    border-radius:10px;
    padding:4px 15px;
}

.category_link {
    color: rgb(39, 39, 42);
}

.category_link:hover {
    color: rgb(39, 39, 42);
}

.category_box:hover {
    background-color: rgba(128, 128, 128,0.3);
}

.product-title {
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng tối đa hiển thị */
    -webkit-box-orient: vertical;
}
