html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  margin-bottom: 60px;
}

/* Đổi màu nền của bảng */
.tblData {
    background-color: #f2f2f2;
}

/* Đổi màu nền của hàng chẵn */
.tblData tr:nth-child(even) {
    background-color: #e6e6e6;
}

/* Đổi màu nền của hàng lẻ */
.tblData tr:nth-child(odd) {
    background-color: #f7f7f7;
}

/* Đổi màu chữ của tiêu đề cột */
.tblData th {
    color: #ffffff;
    background-color: #333333;
}

/* Đổi màu chữ của nội dung trong các ô */
.tblData td {
    color: #333333;
}
